* {
	tap-highlight-color: transparent;
	-webkit-tap-highlight-color: transparent;
  	-ms-tap-highlight-color: transparent;
  	-moz-box-sizing: border-box;
  	-webkit-box-sizing: border-box;
  	box-sizing: border-box;
  	padding: 0;
  	margin: 0;
}
html {
	font-size: 625%;
}
body {
	font-family: Helvetica,sans-serif; // 1
	font-size: 0.12rem;
}

button,
input,
optgroup,
select,
textarea {
	outline: 0;
	-webkit-appearance: none;
}

a {
	background-color: transparent;
	text-decoration: none;
	color: inherit;
}

a:active,
a:hover {
  outline: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

ul, ul>li {
	text-decoration: none;
	list-style: none;
}
